.contact {
  display: flex;
  flex-direction: column;

  padding: 20px;
  background-color: var(--color-accent-light);
  border-radius: var(--border-radius);
}

.interactive-contact:hover {
  transform: scale(1.025);
  transition: .5s;
  background-color: var(--color-accent-dark);
  cursor: pointer;
}

.full-name {
  align-self: center;
}